
.ad{
    box-shadow: 0 0 4px 0 rgba(0,0,0,.3);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    margin-bottom: 1.5rem;
    border-radius: .5rem;
}

.ad .card{
    border: none;
    border-radius: .5rem;
}

.ad:hover{
    box-shadow: 0 0 6px 0 rgba(0,0,0,.6);
}

.ad.boosted{
    box-shadow: 0 0 6px 2px rgba(251, 99, 64, .7);
}

.ad.boosted:hover{
    box-shadow: 0 0 9px 2px rgba(251, 99, 64,.9);
}

.ad.boosted .for-boosted{
    display: inline-block !important;
    position: absolute;
    top: 0;
    left: 0;
    margin: .3rem;
    z-index: 2;
}

.ad.boosted .top-badge i{
    font-size: 1.3em;
    color: #ff7f50;
}

.ad .img-wrap{
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;
    padding-top: 67%;
    border-bottom: 1px solid #ddd;
    border-radius: .5rem .5rem 0 0;
}

.ad .img-wrap::before{
    display: block;
    content: "";
}

.ad .img-wrap>div{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    display: flex;
    align-items: center;
    background-color: #fafafa;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.ad .ad-info{
    padding: 1rem 1rem 0 !important;
}

.ad .title{
    min-width: 100% !important;
}

.ad .title .listing-title{
    font-weight: 500;
    white-space: nowrap;
    max-width: calc(100% - 35px);
    overflow: hidden;
    text-overflow: ellipsis;
}

.ad .title .listing-title a{
    color: inherit;
}

.fav-btn{
    color: #fa8072;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 50%;
    position: relative;
    width: 35px;
    height: 35px;
    line-height: 37px;
    text-align: center;
    margin-right: -7px;
}

.fav-btn .overlay{
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    pointer-events: none;
    border-radius: inherit;
}

.fav-btn:hover .overlay, .fav-btn:focus .overlay{
    opacity: .1;
    background: #000;
    transition: opacity .3s cubic-bezier(.35,0,.25,1),background-color .3s cubic-bezier(.35,0,.25,1);
}

.fav-btn:hover{
    font-size: 1.1em;
    transition: font-size .3s cubic-bezier(.35,0,.25,1);
}

.ad ._info{
    color: #909090;
    font-size: .9em;
    display: block;
}

.location{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: auto;
    max-width: calc(100% - 40px);
}

.ad .col-md-3{
    padding: 1rem !important;
}

.ad .car-price{
    font-weight: 600;
    font-size: 1.3em;
    color: #5e72e4;
}


.seller{
    display: inline-block;
}

.seller .seller-logo{
    height: 80px;
    width: auto;
}

.seller .verified-seller{
    border: 1px solid #ccc;
    border-radius: 25px;
}

.seller .verified-seller img{
    height: 30px;
}


.ad .relative .btn:hover{
    transform: none !important;
    opacity: .8;
}

@media(min-width: 0px){
    .ad .img-wrap{
        padding-top: 67%
    }
}


@media(max-width: 479px){
    .ad-wrap .ad{
        width: 100%;
        max-width: 320px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media(max-width:500px){

}

@media(min-width: 480px){
    .ad-wrap{
        max-width: 50% !important;
        margin-left: 0;
        margin-right: 0;
    }
}

@media(min-width:720px){
    .ad .img-wrap{
        padding-top: 75%;
    }
}

@media(min-width: 768px){
    .ad-wrap{
        max-width: 100% !important;
    }

    .ad .col-md-4:first-child{
        border-right: 1px solid #ddd;
        display: flex;
        align-items: center;
        border-radius: .25rem 0 0 .25rem;
    }

    .ad .col-md-3:last-child{
        border-left: 1px solid #ddd;
    }

    .ad .img-wrap{
        padding-top: 85%;
        border-bottom: none;
        border-radius: .5rem 0 0 .5rem;
    }

    .ad .relative{
        position: relative;
        height: 100%;
    }

    .ad .relative .btn{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .ad .ad-info{
        display: block;
    }

    .ad .m_info{
        display: none;
    }
}

@media(min-width:992px){
    .ad-wrap{
        max-width: 100% !important;
    }
}

@media(min-width: 1200px){
    .ad .img-wrap{
        padding-top: 80%;
    }
}
