@import url(ad.css);

.categories>.category{
    padding: .75rem;
    color: #808080;
    display: inline-block;
    text-decoration: none !important;
    font-weight: 500;
    border: none;
    outline: none;
    cursor: pointer;
    border-bottom: 3px solid transparent;
    transition: .4s all;
    background: #0000;
}

.categories .category:not(:last-child){
    margin-right: .25rem;
}

.categories>.category:hover{
    text-decoration: none !important;
    border-bottom-color: #f5365c;
    transition: .4s all;
}

.categories>.category.active{
    color: #333;
    border-bottom-color: #f5365c;
    background: #f2f4ff;
}

@media(max-width:400px){

    .categories>.category{
        display: block;
        border-bottom: 1px solid #ddd !important;
        border-left: 3px solid transparent;
        transition: .4s all;
    }

    .categories>.category.active{
        color: #333;
        border-left-color: #f5365c;
    }

    .categories>.category:hover{
        text-decoration: none !important;
        border-left-color: #f5365c;
        transition: .4s all;
    }
}
